 @media screen and (max-width: 500px){
    html{
        font-size: 18px;
    }
 }

 html, body{
    background-color: rgb(166, 244, 245);
    margin: 0px;
    font-size: 20px;
 }
 body { 
    overflow: auto;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
 }
 .website-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sections-containers {
    width: 100%;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header-logo {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
.header-logo > p {
    font-size: 2.5rem;
}
.header-nav {
    background-color:rgb(233, 244, 118);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    border-top: 0.5rem solid black;
    border-bottom: 0.5rem solid black;
}
.header-nav-items {
    width: 25%;
    height: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    border-right: 0.25rem solid black;
}

.header-nav-items-href{
    text-decoration: none;
    color: black;
}
.section-info {
    font-size: 1.8rem;
    background-color:rgb(233, 244, 118);
    border: 0.4rem solid black;
    border-radius: 10%;
    width: 25%;
}
.about-content {
    width: 70%;
    font-size: 1.3rem;
    margin: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.slider-content {
    background-color: aquamarine;
    width: 100%;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.slider {
    height: 50%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-item-description {
    height: 30%;
    width: 100%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-button {
    height: 20%;
    display: flex;
    align-items: center;
}
.reviews-slider {
    background-color: green;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
}
.reviews-slider > p {
    width: 70%;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
